**IMPORT REQUIRED LIBRARIES**

In [2]:
import  pandas as pd
import matplotlib.pyplot as plt

In [3]:
df=pd.read_csv("../data/gapminder.csv")

In [4]:
df.head()

,country,continent,year,life_exp,pop,gdp_per_cap,infant_mortality,fertility
0,Afghanistan,Asia,1952,28.801,8425333.0,779.445314,NaN,NaN
1,Afghanistan,Asia,1957,30.332,9240934.0,820.853030,NaN,NaN
2,Afghanistan,Asia,1962,31.997,10267083.0,853.100710,NaN,NaN
3,Afghanistan,Asia,1967,34.020,11537966.0,836.197138,NaN,NaN
4,Afghanistan,Asia,1972,36.088,13079460.0,739.981106,NaN,NaN

In [10]:
df["life_exp"].nunique()

1626